#habilitar o rewrite
RewriteEngine on
#files - aquivos
RewriteCond %{SCRIPT_FILENAME} !-f
#directories - diretorios /pastas
RewriteCond %{SCRIPT_FILENAME} !-d
#envia todas as rptas para o index.php
RewriteRule ^(.*) index.php?p=$1